<head>
<meta charset="UTF-8">
<title>Fake Campigotto</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<script>
/*
0010,2912,4652,0001,0103,0012,8975,0022,1989,0012,4105,0714,0343,0819,0025,0248
gagb60g122cg1g67gcg230fg16g7c5gcg1009g2cag157g333g19gf8g
Squadra A, Squadra B, Squadra C, Squadra D
120
*/
/*
the two dimensional array is in bijection with table [x,y]=[-,-,-,-]:
	[0,0] = [,,,]
	[0,x] = [value, indexProblem = x, nameProblem, solution]
	[y,0] = [sumPoints, squadraIndex = y, squadraName, bonusSquadra]
	[y,x] = [solved, #err, bonus, jolly]
*/
/*
TODO
- n squadre b4 stop increase [drive]
- activate bonuses [don't add till removable]
*/
/*GLOBALS*/
var durata;
var ARRAY;
var intervalRunner;
var draw = true;
var scoreIncrease;
//--
var secondsElapsed = 0;
/*ENDGLOABLS*/

function makeCode() {
	solutions = document.getElementById("solutions").value;
	solutionArray = solutions.split(',');
	//check numeric and check 4 cifre
	solutonArrayHex = [];
	for (i = 0; i < solutionArray.length; i++){
		s = solutionArray[i];
		if (s.includes('-')){
			s = s.split('-');
		}
		else {
			s = [s,"0"];
		}
		solutonArrayHex.push([parseInt(s[0]).toString(16), parseInt(s[1]).toString(16)]);
	}
	code="g";
	for (i = 0; i < solutonArrayHex.length; i++){
		code += solutonArrayHex[i][0] + "h" + solutonArrayHex[i][1] + "g";
	}
	document.getElementById("codeOutput").value = code;
}

function start(aumentoPunteggi) {
	scoreIncrease = aumentoPunteggi;
	var code = document.getElementById("problemCode").value;
	var solutionArrayHex = code.split('g');
	
	var solutionArray = [];
	for (i = 1; i < solutionArrayHex.length-1; i++){
		sol = solutionArrayHex[i].split('h');
		sol[0] = parseInt(sol[0], 16).toString();
		if (sol.length > 1) {
			sol[1] = parseInt(sol[1], 16);
		}
		while (sol[0].length < 4) {
        	sol[0] = '0' + sol[0];
    	}
		solutionArray.push(sol);
	}
	durata = document.getElementById("durata").value;
	var squadreArray = document.getElementById("squadre").value.split(',');
	makeARRAY(solutionArray, squadreArray);
	initiateHTML(solutionArray, squadreArray);
	intervalRunner = setInterval(runTime, 1000);
	//setInterval(runProblems, 1000);
}

function makeARRAY(solutionArray, squadreArray) {
	ARRAY = new Array(squadreArray.length+1); //rows
	for (i = 0; i < ARRAY.length; i++){
		ARRAY[i] = new Array(solutionArray.length+1); //horizontal cells
		for (j = 0; j < ARRAY[i].length; j++){
			ARRAY[i][j] = new Array(4); //tuples
			//FILL
			if (j!=0 || i!=0){//not corner
				if (i==0) { //PR row
					ARRAY[i][j][0] = 20; //value
					if (solutionArray[j-1].length > 1) {
						ARRAY[i][j][1] = solutionArray[j-1][1];  //startBonus
					} else {
						ARRAY[i][j][1] = 0;  //startBonus
					}
					ARRAY[i][j][2] = j.toString(); //nameProblem
					ARRAY[i][j][3] = solutionArray[j-1][0]; //solution
					//FORMATTING
					if (j < 10){
						ARRAY[i][j][2] = "0" + ARRAY[i][j][2];
					}
					ARRAY[i][j][2] = "P-" + ARRAY[i][j][2];
				}
				if (j==0) { //SQ column
					ARRAY[i][j][0] = 0; //sumPoints
					ARRAY[i][j][1] = i; //squadraIndex
					ARRAY[i][j][2] = squadreArray[i-1]; //squadraName
					ARRAY[i][j][3] = 10*solutionArray.length; //bonusSquadra
				}
				if (j!=0 && i!=0) { //GRID
					ARRAY[i][j][0] = false; //solved
					ARRAY[i][j][1] = 0; //#err
					ARRAY[i][j][2] = 0; //bonus
					ARRAY[i][j][3] = false; //jolly
				}
			}
		}
	}
}

function initiateHTML(solutionArray, squadreArray) {
	//timer and table and divs
	document.getElementsByTagName("BODY")[0].innerHTML = "<div style=\"padding-top: 40px; font-size: 40px; text-align: center;\" id=\"clockDiv\">" + durata + ":00 </div>" + document.getElementsByTagName("BODY")[0].innerHTML + "<div style=\"text-align: center;\" id=\"inputDiv\"></div>";
	document.getElementById("inputDiv").innerHTML = "<select id=\"inputSquadra\"></select><br><select id=\"inputProblem\"></select><br><input style=\"text-align: center;\"type=\"password\" id=\"inputSolution\"><br><button style=\"height: 3em; width: 10em;\" onclick=\"sendAnswer();\">Invia</button>"
	optionsSQ = "";
	for (var i = 0; i < squadreArray.length; i++) {
		optionsSQ += "<option value=\""+(i+1).toString()+"\">" + squadreArray[i] + "</option>";
	}
	document.getElementById("inputSquadra").innerHTML = optionsSQ;
	optionsPR = "";
	for (var i = 0; i < solutionArray.length; i++) {
		optionsPR += "<option value=\""+(i+1).toString()+"\">" + (i+1).toString() + "</option>";
	}
	document.getElementById("inputProblem").innerHTML = optionsPR;
	drawARRAY();
}

function drawARRAY() {
    var result = "<table>";
	if (!draw) {
		result = "<table style=\"display: none;\">"
	}
	else {
		for(var i=0; i<ARRAY.length; i++) {
			result += "<tr>";
			for(var j=0; j<ARRAY[i].length; j++){
				var td = "<td style=\"border: none;\">";
				/*
				PR = [value, startBonus, nameProblem, solution]
				SQ = [sumPoints, squadraIndex = y, squadraName, bonusSquadra]
				GR = [solved, #err, bonus, jolly]
				*/
				if (j!=0 || i!=0){//not corner
					if (i==0) { //PR row
						td = "<td style=\"font-weight: bold;\">";
						td += ARRAY[i][j][2] + "<br>";
						td += "<span style=\"color: blue;\">" + (ARRAY[i][j][0] + ARRAY[i][j][1]).toString() + "</span>";
					}
					if (j==0) { //SQ column
						td = "<td style=\"font-weight: bold; text-align: left;\">";
						td += "<span style=\"color: blue;\">" + (ARRAY[i][j][0]+ARRAY[i][j][3]).toString() + "</span> · ";
						td += ARRAY[i][j][2];
					}
					if (j!=0 && i!=0) { //GRID
						td = "<td style=\"";
						if (ARRAY[i][j][1] > 0) {
							td = "<td style=\"background-color: #FAA;";
						}
						if (ARRAY[i][j][0]) {
							td = "<td style=\"background-color: #AFA;";
						}
						if (ARRAY[i][j][3]) {
							td += "color: #00F; font-weight: bold;";
						}
						td += "\">";
						points = ARRAY[i][j][2] - ARRAY[i][j][1]*10;
						if (ARRAY[i][j][0]) {
							points += ARRAY[0][j][0] + ARRAY[0][j][1];
						}
						if (ARRAY[i][j][3]) {
							points = points * 2;
						}
						td += points.toString();
					}
				}
				td += "</td>"
				result += td;
			}
			result += "</tr>";
		}
	}
    result += "</table>";

    document.getElementById("tableDiv").innerHTML = result;
}

function runTime() { //TODO use timestamp, not iteration for elapsed time!!!
	secondsElapsed += 1;
	time = durata*60 - secondsElapsed;
	secs = time % 60;
	mins = (time-secs)/60;
	if (secs == 0 && mins != durata){
		if (mins == durata - 10) {
			for (i = 1; i < ARRAY.length; i++){
				if (!(hasJolly(i))) {
					ARRAY[i][1][3] = true;
				}
			}
		}
		if (mins == 5) {
			draw = false;
		}
		if (mins == 0) {
			draw = true;
			//TODO order table by score
			clearInterval(intervalRunner);
		}
		runProblems();
	}
	if (secs < 10){
		secs = "0" + secs;
	}
	document.getElementById("clockDiv").innerHTML = mins + ":" + secs;
}

function runProblems() {
	if (mins > 20) {
		for (j = 1; j < ARRAY[0].length; j++){//j=0
			if (nSolvedBy(j) < 1 && scoreIncrease){
				ARRAY[0][j][0] += 1;
			}
		}
	}
	updateSumsAndDraw();
}

/*
PR = [value, indexProblem = x, nameProblem, solution]
SQ = [sumPoints, squadraIndex = y, squadraName, bonusSquadra]
GR = [solved, #err, bonus, jolly]
*/
function updateSumsAndDraw() {
	for (i = 1; i < ARRAY.length; i++){
		sumPoints=0;		
		for (j = 1; j < ARRAY[i].length; j++){//j=0
			points = ARRAY[i][j][2] - ARRAY[i][j][1]*10;
			if (ARRAY[i][j][0]) {
				points += ARRAY[0][j][0];
			}
			if (ARRAY[i][j][3]) {
				points = points * 2;
			}
			sumPoints += points;
		}
		ARRAY[i][0][0] = sumPoints;
	}
	drawARRAY();
	console.log(ARRAY);
}

function hasJolly(i) {
	result = false;
	for (j = 1; j < ARRAY[i].length; j++) {
		result = result || ARRAY[i][j][3];
	}
	return result;
}

function nSolvedBy(j) {//da quanti è stato risolto un problema
	count = 0;
	for (i = 1; i < ARRAY.length; i++){//j=0
		if (ARRAY[i][j][0]){
			count += 1;
		}
	}
	return count;
}
//inputSquadra inputProblem inputSolution
function sendAnswer() {
	answer = document.getElementById("inputSolution").value;
	squadra = parseInt(document.getElementById("inputSquadra").value);
	problem = parseInt(document.getElementById("inputProblem").value);
	document.getElementById("inputSolution").value = "";
	console.log(document.getElementById("inputSquadra").value);
	if (answer == "j" && !(hasJolly(squadra))) {
		ARRAY[squadra][problem][3] = true;
		updateSumsAndDraw();
	}
	else {
		if (answer.length == 4){
			answer = parseInt(answer);
			if (answer == parseInt(ARRAY[0][problem][3])){
				ARRAY[squadra][problem][0] = true;
			}
			else {
				ARRAY[squadra][problem][1] += 1;
				if (nSolvedBy(problem) < 1){
					ARRAY[0][problem][0] += 2;
				}
			}
			updateSumsAndDraw();
		}
	}
}

</script>
<style>
body{
	font-family: 'Open Sans', Open Sans, sans-serif;
}
table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
td {
	border: solid black 1px;
	padding: 10px;
	margin: 0px;
}
</style>
<body>
<div style="padding: 15px 30px;" id="tableDiv">
	<p><b>Fake Campigotto</b> è un programma in Javascript che permette di gestire localmente i punteggi di gare a squadre di matematica, o di simili competizioni.
	</p>
	
	<p><b>Istruzioni:</b> per iniziare una gara servono tre cose: un codice-problemi, i nomi delle squadre partecipanti separati da virgole (eg: <code>Squadra A,Squadra B</code>), ed una durata della gara in minuti. Il codice-problemi può essere creato in anticipo con il primo dei due form: si devono inserire in ordine le risposte numeriche separate da virgole (eg: <code>1793,6066,0012</code>), è possibile aggiungere un bonus di base aggiuntivo ad i 20 punti iniziali nel seguente modo <code>1793,6066-40,0012</code> (il secondo problema vale 40 punti in più).
	</p>
	
	<p>Durante la gara le risposte di quattro cifre possono essere inseite nel riquadro in fondo alla pagina. Per consegnare il problema jolly dare la lettera <code>j</code> come risposta al problema.
	</p>
	
	<b>Codice problemi:</b><br>
	Inserire le soluzioni dei problemi in ordine, separate da virgole:
	<input style="width: 100%;" type="text" id="solutions"><br>
	<button style="width: 100%;" onclick="makeCode();">Produci codice problemi</button><br>
	<input style="width: 100%;" type="text" id="codeOutput"><br><br>
	<b>Impostazioni gara:</b><br>
	Inserire qui il codice-problemi:
	<input style="width: 100%;" type="password" id="problemCode"><br>
	Inserire qui i nomi delle squadre, separate da virgole:
	<input style="width: 100%;" type="text" id="squadre"><br>
	Inserire qui la durata della gara in minuti:
	<input style="width: 100%;" type="number" id="durata" min="45" max="180" value="120"><br>
	<button style="width: 100%;" onclick="start(true);">Inizia! (regole ufficiali)</button><br>
	<button style="width: 100%;" onclick="start(false);">Inizia! (punteggi costanti)</button>
</div>
</body>